@charset "UTF-8";
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

a {
  color: #AEB0BA;
  text-decoration: none;
}

.box + .box {
  border-top: 1px solid #707070;
}

.header {
  background-color: #2A2B31;
  /*ヘッダーロゴ*/
  /*ヘッダーナビ*/
}

.header .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}

.header_logo {
  width: 80px;
  height: 20px;
  color: white;
  padding-top: 25px;
  margin: 0 auto;
}

.header_nav {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.header_nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  list-style: none;
}

.header_nav_list li {
  text-align: center;
  width: 20%;
  color: #AEB0BA;
}

/*メイン*/
.main {
  /*大きい画像*/
  /*人気アイテム*/
  /*紹介*/
  /*つながる*/
  /*重要なお知らせ*/
  /*メニュ準備*/
  /*menu-----------------------------------*/
}

.main_top img {
  height: auto;
  width: 100%;
}

.main_popular {
  height: 525px;
  color: #707070;
  text-align: center;
}

.main_popular_head {
  padding-top: 104px;
  padding-bottom: 51px;
}

.main_popular_head h2 {
  margin: 0;
  font-size: 38px;
}

.main_popular_body {
  max-width: 1218px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_popular_body_item {
  color: #707070;
}

.main_popular_body_item img {
  max-width: 170px;
  height: auto;
}

.main_popular_body_item_name-en {
  font-size: 20px;
}

.main_popular_body_item_name-ja {
  font-size: 14px;
}

.main_intro {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 50%;
  margin: 64px auto;
}

.main_intro_item {
  width: 100%;
}

.main_intro_item img {
  width: 100%;
  height: auto;
  background-color: grey;
}

.main .btn {
  display: block;
  margin: auto;
  background-color: #FFFFFF;
  border: solid 1px #707070;
  border-radius: 30px 30px 30px 30px;
  width: 80%;
  height: 60px;
  color: #707070;
  font-size: 24px;
  text-align: center;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
}

.main_connect {
  width: 50%;
  height: 400px;
  margin: 0 auto;
}

.main_connect h3 {
  font-size: 38px;
  text-align: center;
  color: #6E6E6E;
}

.main_connect_frame {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 255px 255px 255px;
      grid-template-columns: 255px 255px 255px;
  -ms-grid-rows: 130px;
      grid-template-rows: 130px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  /*登録するボタン*/
  /*詳しくボタン*/
}

.main_connect_frame_item {
  text-align: center;
  /*アイコンの代わり画像入れたら消す*/
}

.main_connect_frame_item img {
  width: 30px;
  height: 30px;
  background-color: grey;
}

.main_connect_frame_item_icon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px 32px 32px;
      grid-template-columns: 32px 32px 32px;
  -ms-grid-rows: 36px;
      grid-template-rows: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  color: #707070;
}

.main_connect_frame_item_title {
  font-size: 18px;
  color: #6E6E6E;
}

.main_connect_frame_item_sentence {
  font-size: 12px;
  color: #AEB0BA;
}

.main_connect_frame_register {
  display: block;
  background-color: #FFFFFF;
  border: solid 1px #707070;
  border-radius: 30px 30px 30px 30px;
  width: 141px;
  height: 33px;
  color: #707070;
  font-size: 14px;
  margin: 0 auto;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
}

.main_connect_frame_detail {
  display: block;
  background-color: #FFFFFF;
  border: solid 1px #707070;
  border-radius: 30px 30px 30px 30px;
  width: 141px;
  height: 33px;
  color: #707070;
  font-size: 14px;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  margin: 0 auto;
}

.main_announce {
  height: 216px;
  background-color: #FF5E5E;
}

.main_announce_cp {
  display: block;
  margin: 0 auto;
  width: 50%;
  text-align: left;
}

.main_announce_cp p {
  font-size: 18px;
  color: #FFFFFF;
  margin-top: 0;
  padding-top: 42px;
}

.main_announce_cp ul {
  font-size: 16px;
  color: #FFFFFF;
}

.main_menu {
  height: 530px;
  background-color: #6E6E6E;
}

.main_menu_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 972px;
  width: 100%;
  margin: 0 auto;
  padding: 63px 0;
  height: 402px;
}

.main_menu_head_object {
  width: 240px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main_menu_head_object .title {
  font-size: 16px;
  display: block;
}

.main_menu_head_object .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  height: 32px;
  margin: 24px 5px;
}

.main_menu_head_object .item_img {
  width: 32px;
  height: 32px;
  background-color: #8773cf;
}

.main_menu_head_object .item_sentence_en {
  font-size: 16px;
  margin: 0.5px;
}

.main_menu_head_object .item_sentence_ja {
  font-size: 12px;
  margin: 0.5px;
}

/*黒いところ*/
.announce {
  background-color: #2A2B31;
}

.announce h3 {
  font-size: 27px;
  color: #FFFFFF;
  margin: 0;
}

.announce h4 {
  font-size: 14px;
  color: #AEB0BA;
  margin: 0;
}

.announce li {
  font-size: 12px;
  color: #AEB0BA;
}

.announce_top .News {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#4A4A4A), to(var(-2a2b31))) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #4A4A4A 0%, var(-2a2b31) 100%) 0% 0% no-repeat padding-box;
}

/*緑のところ*/
.foot {
  background-color: #00C1BA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=home.css.map */